<div class="w-120 max-w-120 shadow-md-short primary rounded-md p-8 flex flex-row gap-10 items-center hover:shadow-none hover:shadow-md active:inset-shadow-md hover:cursor-pointer border-1 border-solid border-accent"
  (click)="selectUser()"
>
  <div class="flex flex-col items-center p-5">
    @if (!userCard().avatar_url) {
    <img src="/user-profile.svg" class="rounded-md" />
    } @else {
    <img [src]=userCard().avatar_url class="w-30 h-30 min-w-30 rounded-md" />
    }
  </div>

  <div class="flex flex-col gap-3">
    <p class="font-regular text-font">{{userCard().name}}</p>
    <p class="font-regular text-font">{{userCard().email}}<p>
      <a [href]=userCard().html_url (click)="stopPropagation($event)" target="_blank" >
        <div class="flex gap-3 shadow-md-short hover:shadow-none hover:shadow-md active:inset-shadow-md hover:cursor-pointer p-2 rounded-md border-1 border-solid border-accent">
          <p class="font-regular text-font">{{userCard().login}}</p>
          <img src="/github-icon.svg" />
        </div>
      </a>
  </div>
</div>
